<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/static/js/bootstrap.js}"></script>
<script th:src="@{/static/js/app.js}"></script>


<link rel="stylesheet" type="text/css"
      th:href="@{/static/css/style.css}" />
<link rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>
<link rel="stylesheet" type="text/css"
      th:href="@{/static/css/bootstrap-theme.css}" />
<link rel="stylesheet" type="text/css"
      th:href="@{/static/css/font-awesome.css}" />

  <head>
    <title></title>
  </head>
  <body>

  <ul>
     <li th:attr="id=${root.id}"  class="root li-element">
         <span class="arrow angle"><i class="fa fa-angle-right"></i></span>
         <span class="folder"> <i class="fa fa-folder-o"></i></span>
         <div class="dropdown">
         <span class="switch dropdown-toggle" data-toggle="dropdown" >
            <span class="node-name" th:text="${root.name}">  </span>
             <span class="caret"></span> </span>
             <ul class = "dropdown-menu"
                 th:attr="node-name=${root.name}, node-id=${root.id}, node-parentId=${root.parentId}">
                 <li class="add-node"> <a href = "#"> Add </a> </li>
                 <li class="rename-node"> <a href = "#"> Rename </a> </li>
             </ul>
         </div>
         <div class="display-none">
         <form class="form-add" th:attr="node-add-id=${root.id}">
             <input name="name" type="text" class="form-control"/>
             <input name="id" type="hidden" value ="" />

             <button type="button" class="btn btn-default cancel-add">Close</button>
             <button type="submit" class="btn btn-primary">Add node</button>
         </form>
         </div>

         <div class="display-none">
         <form class="form-rename" th:attr="node-rename-id=${root.id}"  >
             <input name="name" class="form-control" type="text" th:value="${root.name}"/>
             <input name="id" type="hidden" value ="" />

             <button type="button" class="btn btn-default cancel-rename">Close</button>
             <button type="submit" class="btn btn-primary">Rename node</button>
         </form>
         </div>

         <ul class="children">

         </ul>
     </li>
 </ul>

  </body>
</html>
